## Exploratory Data Analysis


*Rohan Chopra*

---

Attribution: Parts of this notebook are adapted from Fraida Fund's 'Intro to ML' material.

In this notebook
----------------
-   We learn a basic ‚Äúrecipe‚Äù for exploratory data analysis and apply it
    to an example.
-   Use Pandas, Matplotlib, and Seaborn to create simple plots.

We'll cover plotting line plots, scatter plots, bar plots, and histograms, and how to manipulate the style of your plots with Matplotlib

Introduction
------------

### What makes data ‚Äúgood‚Äù?

What makes a good data set?

-   **Quantity/Size**: the more *samples* are in the data set, the more examples
    your machine learning model will be able to learn from, and the
    better it will do. Often, a simple machine learning model trained on
    a large data set will outperform a ‚Äúfancy‚Äù model on a small data
    set.
-   **Quality**: Are there *predictive* features in the data? Are no
    values (or very few values) missing, noisy, or incorrect? Is the
    scenario in which the data collected similar to the scenario in
    which your model will be used? These are examples of questions that
    we might ask to evaluate the quality of a data set.

One of the most important principles in machine learning is: **garbage
in, garbage out**. If the data you use to train a machine learning model
is problematic, or not well suited for the purpose, then even the best
model will produce useless predictions.


### üîéExploratory data analysis (EDA) serves several important purposes:

-    *Detect and Correct Mistakes*: EDA helps us identify errors or inconsistencies in the data, such as missing values or outliers. By spotting these mistakes early on, we can take steps to correct them and ensure the data is reliable.

-    *Check Assumptions*: EDA allows us to validate our assumptions about the data. We can examine the distributions of variables and test whether they meet our expectations. If our assumptions are incorrect, it may influence our modeling approach.

-    *Identify Relationships Between Features*: EDA helps us uncover potential relationships or patterns between different features in the dataset. This can provide valuable insights into the underlying structure of the data and inform feature engineering decisions.

-    *Assess Relationships with Target Variable*: EDA enables us to explore the relationship between features and the target variable. Understanding the direction and magnitude of these relationships helps us assess the predictive power of the features and select the most relevant ones for our machine learning task.

üñä ‚ÄúRecipe‚Äù for exploratory data analysis
--------------------------------------

We will practice using a basic ‚Äúrecipe‚Äù for exploratory data analysis.:

1.  *Define Expectations*: Clearly state your expectations and objectives for the EDA
process. Understand what you hope to achieve and what insights you're seeking from the data.

2.  *Load Data*: Begin by loading the dataset into your analysis environment, ensuring that it is loaded correctly and all necessary columns and rows are included.

3.  *Sanity Checks*: Perform sanity checks to ensure that the data aligns with your expectations. Check for data consistency, missing values, and any anomalies that may require cleaning or filtering.

4. *Clean and Preprocess*: Clean and preprocess the data as needed to address any issues identified during the sanity checks. This may involve handling missing values, removing outliers, or standardizing data formats.

5. *Explore Relationships*: Explore relationships within the data to identify potential features and target variables for further analysis. Use visualizations and statistical techniques to uncover patterns, correlations, and trends.

Example: Brooklyn Bridge Pedestrian Dataset
--------------------------------------------

The Brooklyn Bridge is a bridge that connects Brooklyn and Manhattan. It
supports vehicles, pedestrians, and bikers.

![](https://brooklyneagle.com/wp-content/uploads/2019/01/7-Brooklyn-Bridge-pedestrians-in-bike-lane-to-right-of-white-stripe-January-2019-photo-by-Lore-Croghan-600x397.jpg)

Suppose you are developing a machine learning model to predict the
volume of pedestrian traffic on the Brooklyn Bridge. There is a dataset
available that you think may be useful as training data: [Brooklyn
Bridge Automated Pedestrian Counts
dataset](https://data.cityofnewyork.us/Transportation/Brooklyn-Bridge-Automated-Pedestrian-Counts-Demons/6fi9-q3ta),
from the NYC Department of Transportation.

We will practice applying the ‚Äúrecipe‚Äù for exploratory data analysis to
this data.

We will use the `pandas` library in Python, which includes many powerful
utilities for managing data. You can refer to the [`pandas`
reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
for more details on the `pandas` functions used in this notebook.

### Set down *expectations* about the data

The first step is to codify your expectations about the data *before*
you look at it:

-   Read about *methodology* and *data codebook*
-   How many rows and columns are in the data?
-   What does each variable mean? What units are data recorded in? What
    is the expected range or typical value for each column?
-   What variables do you think could be used as target variable? What
    variables could be used as features from which to learn?
-   How was data collected? Identify sampling issues, timeliness issues,
    fairness issues, etc.

For the Brooklyn Bridge dataset, you can review the associated
documentation on the NYC Data website:

-   [NYC Data
    Website](https://data.cityofnewyork.us/Transportation/Brooklyn-Bridge-Automated-Pedestrian-Counts-Demons/6fi9-q3ta)

### Load data and check that it is loaded correctly

The next step is to load the data in preparation for our exploratory
data analysis. Then, we‚Äôll check that it is loaded correctly.

Some examples of the things we‚Äôll look for include:

-   Does the `DataFrame` have the correct number of rows and columns?
-   Is the first row of ‚Äúdata‚Äù in the `DataFrame` real data, or is it
    column labels that were misinterpreted as data? (Similarly, are the
    column labels actually labels, or are they the first row of data?)

At this stage, we might also do some very basic manipulation of the data
- for example, compute some fields that are derived directly from other
fields. (For example, suppose you have a ‚Äúdistance‚Äù field in miles and
you wanted to convert it to meters - you could do that here!)

First, we will import some useful libraries:

-   In Python - libraries add powerful functionality
-   You can import an entire library (`import foo`) or part
    (`from foo import bar`)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# set up notebook to show all outputs in a cell, not only last one


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Now we are ready to read in our data!

‚ùì: What are the 2 main types of data that Pandas supports?

In [ ]:
url = 'https://data.cityofnewyork.us/api/views/6fi9-q3ta/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url,sep='/t')

We will want to verify that the data was loaded correctly. For *tabular*
data, we can start by looking at the first few rows of data or the last
few rows of data with the `head` and `tail` functions, respectively.
(For data that is not tabular, such as image, text, or audio data, we
would similarly start by looking at some samples.)

In [3]:
df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1
0,04/30/2019 12:00:00 AM,Brooklyn Bridge,3,3,0,NaN,NaN,NaN,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
1,12/31/2019 10:00:00 PM,Brooklyn Bridge,10,9,1,cloudy,42.0,0.0005,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
2,12/31/2019 11:00:00 PM,Brooklyn Bridge,2,0,2,cloudy,42.0,0.0004,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
3,12/31/2019 09:00:00 PM,Brooklyn Bridge,12,0,12,cloudy,42.0,0.0036,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
4,04/01/2019 03:00:00 AM,Brooklyn Bridge,1,0,1,clear-night,36.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"

In [4]:
df.tail()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1
16052,06/22/2018 04:00:00 AM,Brooklyn Bridge,7,4,3,partly-cloudy-night,67.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
16053,07/19/2018 06:00:00 AM,Brooklyn Bridge,192,89,103,clear-day,65.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
16054,06/16/2018 04:00:00 PM,Brooklyn Bridge,2623,1161,1462,clear-day,82.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
16055,07/24/2018 06:00:00 PM,Brooklyn Bridge,2016,1069,947,partly-cloudy-day,80.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
16056,07/23/2018 12:00:00 AM,Brooklyn Bridge,57,20,37,cloudy,75.0,0.0103,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"

We can also get a few random rows:

In [ ]:
df.sample(5)

Looking at some rows can help us spot obvious problems with data
loading. For example, suppose we had tried to read in the data using a
tab delimiter to separate fields on the same row, instead of a comma.

In [ ]:
df_bad  = pd.read_csv(url, sep='\t')
df_bad.head()

This ‚Äúbad‚Äù version of the `DataFrame` has only a single column (because
it believes tabs are used to separate fields in the same row, when
actually commas are used). The variable names are combined together into
one long column name. By looking at the first few rows of data, we can
spot this obvious error.

We should always check the shape of the data frame - the number of rows
and columns. This, too, should be checked against our assumptions about
the data (in this case, what we know from the NYC Data website.)

In [ ]:
df.shape

Check the names of the columns and their data types:

In [ ]:
df.columns
df.dtypes

We can also get a quick summary with `info()`;

In [ ]:
df.info()

`pandas` infers the data type of each column automatically from the
contents of the data.

If the data type of a column is not what you expect it to be, this can
often be a signal that the data needs cleaning. For example, if you
expect a column to be numeric and it is read in as non-numeric, this
indicates that there are probably some samples that include a
non-numeric value in that column. (The [NYC Data
website](https://data.cityofnewyork.us/Transportation/Brooklyn-Bridge-Automated-Pedestrian-Counts-Demons/6fi9-q3ta)
indicates what type of data *should* be in each column, so you should
reference that when checking this output. )

We have a date/time column (`hour_beginning`) that was read in as a
string. Let‚Äôs take a closer look at that. We can get one column of data
either using a notation like a dictionary, as in

``` python
df['hour_beginning']
```

or using class attribute-like notation, as in

``` python
df.hour_beginning
```

(either one returns exactly the same thing!) (Note that if the column
name includes spaces, you can only use the notation with the brackets,
since it encloses the column name in quotes and can accomodate spaces.)

`pandas` includes a `to_datetime` function to convert this string to a
‚Äúnative‚Äù date/time format, so we can use that now:

In [ ]:
df['Pedestrians']

In [ ]:
df['hour_beginning'] = pd.to_datetime(df['hour_beginning'])
df.info()
df['hour_beginning'].head(5)

You may notice that the `hour_beginning` variable includes the full date
and time in one field. For our analysis, it would be more useful to have
separate fields for the date, month, day of the week, and hour.

We can create these additional fields by assigning the desired value to
them directly - then, observe the effect:

In [ ]:
df['hour'] = df['hour_beginning'].dt.hour
df['month'] = df['hour_beginning'].dt.month
df['date'] = df['hour_beginning'].dt.date
df['day_name'] = df['hour_beginning'].dt.day_name()

df.head()

### Inspect (and possibly clean/filter) the data

Now we are ready to inspect the data.

-    Missing Values: We need to check if there are any missing values in the data. Sometimes, certain rows might have missing information, which can be represented as 'None', 'NaN', or even '0' or '-1'. It's essential to distinguish between actual missing values and valid values like '0' or '-1'.

-    Numeric Fields: For numerical fields, we'll look at the minimum and maximum values of each field. We'll also check if the median falls within our expected range.

-    Non-Numeric Fields: For non-numeric fields, we'll check the number of unique values in each field and ensure they match our expectations. We'll also examine the consistency of factor levels throughout the data.

-    Variable Relationships: We'll assess if the relationships between variables align with our expectations. This can involve visual evaluation and examining summary statistics.

-     Time Series Data: If the data is a time series, we'll analyze the trend of each variable over time and ensure it aligns with our expectations.

These checks may require some domain knowledge. Having a good understanding of the subject matter related to the data is crucial for setting reasonable expectations about the values and relationships within the dataset..

#### Check whether data is complete

Let us start by checking whether the data is complete. First, we‚Äôll
check whether there are any rows in the data where some or all fields
are missing.

We can see the number of missing values in each column by summing up all
the instances where the `isnull` function returns a True value:

In [ ]:
df.isnull().sum()

(Note that this only tells us about missing values that are explicitly
denoted as such - for example, explicit `NaN` values. If a missing value
is coded as something else - like a 0 or -1 - we wouldn‚Äôt know unless we
noticed an unusually high frequency of 0 or -1 values.)

We notice that the majority of rows are missing a value in the `events`
field, which is used to mark dates that are holidays or other special
events. This is reasonable, since most dates do not have any remarkable
events.

Let‚Äôs look at the rows that *do* have a value in the `events` field. To
filter a dataframe, we‚Äôll use the `.loc[]` operator. This accepts either
an index (for example, we can do `df.loc[0]` to see the first record in
the dataframe), an array of indices (for example, `df.loc[[0,1,2]]`), or
an array of boolean values the length of the entire dataframe. That‚Äôs
what we‚Äôll use here.

In [ ]:
df.loc[df['events'].notnull()]

We also notice a small number of rows missing weather information. It‚Äôs
not clear why these are missing. Let‚Äôs take a closer look at some of
those rows, by *filtering* the dataframe to only rows that meet a
specific condition - in this case, that the `temperature` field is
missing.

In [ ]:
df.loc[df.temperature.isnull()]   #Return values where temp is not null

We can see that for these particular instances, all of the weather
information is missing. There‚Äôs no obvious reason or pattern. We‚Äôll deal
with these soon, when we try to clean/filter the data.

Before we do that, though, let‚Äôs check for the *other* kind of missing
data: rows that are missing completely, that we expect *should* be
present.

In this example, the data is a time series, and we expect that there is
exactly one row of data for every single hour over the time period in
which this data was collected.

Let‚Äôs see if the data is complete, or if there are gaps in time.

First, we will use
[`pd.date_range`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)
to get the list of hour intervals that we expect to find in the dataset.
Then, we will find the difference between this list and the actual list
of hour intervals in the dataset - these are missing intervals.

In [ ]:
# get beginning and end of date range
min_dt = df.hour_beginning.min()
max_dt = df.hour_beginning.max()
print(min_dt)
print(max_dt)

In [ ]:
expected_range = pd.date_range(start = min_dt, end = max_dt, freq='H' )
expected_range

In [ ]:
# then identify the missing hours
missing_hours = expected_range.difference(df['hour_beginning'])
print(missing_hours)

We had the expected number of rows (the output of `shape` matched the
description of the data on the NYC Data website), but the data seems to
be missing samples from August 2018 through December 2018, which is
worth keeping in mind if we decide to use it:

#### Handle missing values

Now that we have evaluated the ‚Äúcompleteness‚Äù of our data, we have to
decide what to do about missing values.

Some machine learning models cannot tolerate data with missing values.
Depending on what *type* of data is missing and *why* it is missing, we
can

-   drop rows with missing values from the dataset
-   fill in (‚Äúimpute‚Äù) the missing values with some value: a 0, the mode
    of that column, the median of that column, or forward/back fill data
    from the nearest row that is not missing

Given the temporal nature of the data and the relatively slow changes in the weather variable over time, let's consider using the *forward/back fill* method to handle missing values. This approach is logical since consecutive observations in time are likely to have similar weather conditions.

To implement this method, we'll need to arrange the data in chronological order. It's important to note that the original dataset was not sorted by time, so we'll need to sort it first before applying the forward/back fill method.

In [ ]:
df = df.sort_values(by='hour_beginning') #Arranging data in chronological order first and then proceeding to forward/back fill
df.head()

We can also ‚Äúreset‚Äù the index now, so that if we ask for `df.loc[0]`
we‚Äôll get the first row in time, and so on.

In [ ]:
df.reset_index(drop=True, inplace=True)  #drop=True discards the current index, inplace=True applies changes to the df
df.head()

Now we can fill in missing data using the `fillna` function
([reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)).
We will fill the missing weather data using the ‚Äúforward fill‚Äù method,
which caries the last valid observation forward to fill in NAs.

In [ ]:
df['temperature'] = df['temperature'].fillna(method="ffill")
df['precipitation'] = df['precipitation'].fillna(method="ffill")
df['weather_summary'] = df['weather_summary'].fillna(method="ffill")

Having imputed missing vaules in the weather-related columns, we can
count the NAs again and find that there are only missing values in the
`events` column.

In [ ]:
df.isnull().sum()

#### Validating expectations


Now that we have assessed the data's completeness, let's turn our attention to evaluating the consistency of the data values with our expectations.

To begin, we'll examine summary statistics. The "five-number summary" ‚Äì including extremes (minimum and maximum values), median, and quartiles ‚Äì provides valuable insights into numeric fields within the data. This summary allows us to assess whether the values fall within reasonable ranges. We can leverage the describe function in pandas to compute this summary.

In [ ]:
df.describe()

We can only compute those summary statistics for numerical variables.
For categorical variables, we can use `value_counts()` to get frequency
of each value.

For example, let‚Äôs see how often each `weather` condition occurs, and
whether it is reasonable for NYC:

In [ ]:
df.weather_summary.value_counts()

It‚Äôs also useful to verify expected relationships.

For example, we expect to see precipitation when the weather is rainy.
We can use `groupby` in `pandas` to capture the effect between a
categorical variable (`weather_summary`) and a numerical one,
`precipitation`:

In [ ]:
df.groupby('weather_summary')['precipitation'].describe()   #It computes summary statistics for the 'precipitation' values within each group.

Make special note of the `count` column, which shows us the prevalence
of different weather conditions in this dataset. There are some weather
conditions for which we have very few examples.

Similarly, we can validate our expectation of hotter weather in the
summer months:

In [ ]:
df.groupby('month')['temperature'].describe()

as well as during the middle of the day:

In [ ]:
df.groupby('hour')['temperature'].describe()

##Data Visualization

Data visualization is a powerful tool used to explore, analyze, and communicate insights from data. It involves representing data visually through charts, graphs, and plots to uncover patterns, trends, and relationships that may not be immediately apparent from raw data alone

#### 1. Pairplot

For tabular data with multiple numeric features, it is often useful to
create a *pairplot*. A pairplot shows pairwise relationships between all
numerical variables. It is a useful way to identify variables that have
a relationship.

We can create a pairplot with Seaborn library like so :

In [ ]:
sns.pairplot(df,
             vars=['Pedestrians', 'temperature', 'precipitation', 'hour', 'month'],
             plot_kws={'alpha':0.5, 'size': 0.1})

Here, each pane shows one numerical variable on the x-axis and another
numerical variable on the y-axis, so that we can see if a relationship
exists between them. The panes along the diagonal shows the empirical
distribution of values for each feature in this data.

But, it is difficult to see anything useful because there is so much
going on in this plot. We can improve things somewhat by:

-   specifying only the variables we want to include, and exluding
    variables that don‚Äôt contain useful information, such as `lat` and
    `long`, and
-   making the points on the plot smaller and partially transparent, to
    help with the overplotting.

We‚Äôll also change the histograms on the diagonal, which show the
frequency of values for each variable, into a density plot which shows
the same information in a more useful format.

This plot validates the relationship between `temperature` and `hour`,
and between `temperature` and `month`. However, we can also use this
plot to identify useful features - features that appear to be related to
the `target` variable.

#### 2. Histogram : Show the distribution of a numerical variable

In [ ]:
# Plotting a histogram of pedestrian counts
plt.figure(figsize=(10, 6))
sns.histplot(data=df, x='Pedestrians')
plt.title('Histogram of Pedestrians on Brooklyn Bridge')
plt.xlabel('Pedestrian Count')
plt.ylabel('Frequency')
plt.show()

#### 3. Scatterplot: Graphical representation used to display the relationship between two continuous variables.

In [ ]:
# Generating a scatterplot of temperature against pedestrian counts
plt.figure(figsize=(10, 6))
plt.scatter(df['temperature'], df['Pedestrians'], color='green', alpha=0.5)  #alpha controls the transparency of markers
plt.title('Scatterplot of Temperature vs Pedestrian Counts')
plt.xlabel('Temperature')
plt.ylabel('Pedestrian Count')
plt.grid(True) #Adds a grid to the data
plt.tight_layout()  #Prevents overlapping elements
plt.show()

#### 4. Bar Graph: Show a numerical comparison across different categories

In [ ]:
# Aggregating pedestrian counts by hour and plotting a bar graph
hourly_counts = df.groupby(df['hour'])['Pedestrians'].sum()
plt.figure(figsize=(12, 6))
hourly_counts.plot(kind='bar', color='orange')
plt.title('Total Pedestrian Counts by Hour')
plt.xlabel('Hour of the Day')
plt.ylabel('Pedestrian Count')
plt.grid(axis='y')  #grid created alone y axis
plt.tight_layout()
plt.show()

#### 5.Line Plot : Show the trend of a numerical variable over time

In [ ]:

# Plotting a line plot of pedestrian counts over time
plt.figure(figsize=(12, 6))
plt.plot(df['hour_beginning'], df['Pedestrians'], color='blue')
plt.title('Pedestrian Counts Over Time')
plt.xlabel('Time')
plt.ylabel('Pedestrian Count')
plt.grid(True)
plt.tight_layout()
plt.show()

#### 6. Box Plot : Show quartiles (and outliers) for one or more numerical variables

We can use boxplots to quickly summarize distributions.

Five-number summary:

min = minimum value
25% = first quartile (Q1) = median of the lower half of the data
50% = second quartile (Q2) = median of the data
75% = third quartile (Q3) = median of the upper half of the data
max = maximum value
(It's more useful than mean and standard deviation for describing skewed distributions.)

Interquartile Range (IQR) = Q3 - Q1

Outliers:

below Q1 - 1.5 * IQR
above Q3 + 1.5 * IQR

In [ ]:

# Plotting a box plot of pedestrian counts by weather summary
plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='weather_summary', y='Pedestrians')
plt.title('Pedestrian Counts by Weather Summary')
plt.xlabel('Weather Summary')
plt.ylabel('Pedestrian Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

#### 7. Heatmap : When you have too many variables, a pairplot or scatter matrix can become impossible to read. We can still gauge linear correlation using a heatmap of the correlation matrix.

In [ ]:
# Creating a correlation matrix
correlation_matrix = df[['Pedestrians', 'temperature', 'precipitation']].corr()

# Plotting the correlation matrix as a heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix of Pedestrians, Temperature, and Precipitation')
plt.tight_layout()
plt.show()

A correlation coefficient of -0.10 suggests that there is a very slight tendency for pedestrian counts to decrease slightly when there is more precipitation. However, the correlation is weak, meaning that precipitation alone may not be a strong predictor of pedestrian counts, and other factors likely play a more significant role.

A correlation coefficient of 0.37 suggests that there is a moderate tendency for pedestrian counts to increase as the temperature increases. However, it's essential to consider other factors that may also influence pedestrian behavior, as the correlation does not imply causation.

Now armed with information about these relationships, we can identify
good candidate features for a machine learning model.