## **Data Science Bootcamp, Spring '25**

<br>

---

### Lecture 1 : **Introduction to Python**

#### Instructor: **Rohan Chopra**

##### February 26, 2025

---
---

## Primitive Datatypes

---
Python has the following primitive datatypes:

<br>

|Datatype|Description | Examples|
|-----|---------------- |------------|
| Int | Integer Numbers | 1,2,3...|
|Float| Real Numbers    | 3.14    |
|String| Text Contents | "Hello World"|
|Bool | Boolean Values| True, False|
|NoneType| Special Type | None|

<br>

Their syntax is given in the next cell

In [5]:
a = 10
b = 3.14
c = "Hello World"
d = True
e = None

print("a is - ",type(a) )
print("b is - ",type(b) )
print("c is - ",type(c) )
print("d is - ",type(d) )
print("e is - ",type(e) )

a is -  <class 'int'>
b is -  <class 'float'>
c is -  <class 'str'>
d is -  <class 'bool'>
e is -  <class 'NoneType'>

By the way: note that you did not have to declare the variable **'a'** or specify its type before you assigned a value to it. In Python, you can create a variable just by assigning something to it.

## Expressions and Operators

---
<br>

Expressions combine different **objects** and **operators**. An expression has a value and value has a type

<br>

| Arithmetic | Comparison| Boolean |
|------------|-----------|---------|
|= Assignment|== Equality| not Negation|
|+ Sum| != Inequality| and Conjunction|
|- Difference| > More than| or Disjunction|
|* Product| >= More or equal | |
|/ Division| < Less than | |
|// Quotient| <= Less or equal||
|% Remainder|
|** Power ||

In [6]:
a = 10
b = a+100
print("b after addition = ", b,'\n')

rem = b%10
quotient = b//10
print("Remainder of b divided by 10 is ", rem,'\n')
print("Quotient of b divided by 10 is ", quotient,'\n')


c = rem**5
print("C : rem ^5 =",c,'\n')

b after addition =  110

Remainder of b divided by 10 is  0

Quotient of b divided by 10 is  11

C : rem ^5 = 0

In [7]:
print(b==10)
print((b-100)==10)
print(b!=10)

False
True
True

And:

True + true = True
True + False = False
False+ True = False
False + False = False

Or: 

True + true = True
True + False = True
False+ True = True
False + False = False

In [8]:
print(b==110 and c==10)
print(b==110 or  c==10)
print(not c==10)

False
True
True

## Compound Data Types/ Containers
*Used to store data that is made up of multiple values*

1. Lists - Ordered Sequence - Mutable - Mixed element types
2. Tuples - Ordered Sequence - Immutable - Mixed element types
3. Dictionaries - key-values pairs, - keys have to be unique but values can be duplicate and of any format. Does not have continuous memory allocation. Elements are accessed using keys.

### Lists:

a = []

In [17]:
#Lists
l = ["DataScienceBootcamp",2025] #list declaration and initiation
print(l)
l.append("Section1") #adding element to end of the list -> like a push operation ---> ["DataScienceBootcamp",2025, "Section1"]
print(l)

l_1= l[2]
print(l_1)

['DataScienceBootcamp', 2025]
['DataScienceBootcamp', 2025, 'Section1']
Section1

#### Slicing
In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as **slicing**.

**Lst[ Initial : End : IndexJump ]**

In [21]:
list(range(10))
# range(0, 10)  ----> [0,1,2,3,4,5,6,7,9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
a = [2,3,4,5,6]
print(a[-1])

6

In [37]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive)
print(nums[2:])     # Get a slice from index 2 to the end
print(nums[:2])     # Get a slice from the start to index 2 (exclusive)
print(nums[:])      # Get a slice of the whole list
print(nums[:-1])    # Slice indices can be negative   -> nums[:4]
print(nums[::-1])   # reverses the list
nums[2:4] = [8,9] # Assign a new sublist to a slice
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[4, 3, 2, 1, 0]
[0, 1, 8, 9, 4]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

### Tuples:

In [ ]:
t = ()
t=("NYU","DataScience","bootcamp",2025,None)
t = list(t)
t.insert(1,"Rohan")
print(t)
t = tuple(t)
print(t)

##############
# 1. Convert immutable to mutable
# 2. add/remove element
# 3. convert back it immutable
##############

['NYU', 'Rohan', 'DataScience', 'bootcamp', 2025, None]
('NYU', 'Rohan', 'DataScience', 'bootcamp', 2025, None)

In [51]:
#Tuples
t = ()
t=("NYU","DataScience","bootcamp",2025,None)
print(t)
print(t[2])
print(t[1:3])
t[2]=5
print(t[2])

('NYU', 'DataScience', 'bootcamp', 2025, None)
bootcamp
('DataScience', 'bootcamp')

TypeError: 'tuple' object does not support item assignment

### Dictionary:
**dictn={'key':value}**

In [ ]:
l = []
t = ()
d = {}

In [53]:
dictn={'Fruit':'Mango','Vegetable':'Beans'}
print(dictn['Fruit'])
print(dictn['Vegetable'])

print(dictn.items())

Mango
Beans
dict_items([('Fruit', 'Mango'), ('Vegetable', 'Beans')])

In [58]:
dt = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(dt['cat'])       # Get an entry from a dictionary
print('cat' in dt)     # Check if a dictionary has a given key

cute
True

In [59]:
d={}
d[1]=1.333
d[2]="Raunak"
d[3]="jolie"
print(d)

{1: 1.333, 2: 'Raunak', 3: 'jolie'}

In [68]:
#Dictionaries
d={}
d['key1']='value1'
# print(d)
d['rohan']=50
d['key3']=None
print(d)
print(d['key1'])
print(d.get('key3'))
print(d['key2'])

{'key1': 'value1', 'rohan': 50, 'key3': None}
value1
None

KeyError: 'key2'

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

## Control Flow : Branching, Iteration
---

Evaluate a block of code if a condition is True.

In the following cells we will look at conditional satements(if-else) and loops(for and while).

### If-Else
Conditional statements in Python allow you to make decisions in your code based on certain conditions. The if-else statement is one of the fundamental building blocks of conditional logic in Python.


### Basic Syntax

```python
if condition:
    # Code to execute if the condition is True        #notice indentation
else:
    # Code to execute if the condition is False
```
### Elif (Else If)
To handle multiple conditions, you can use the elif (short for "else if") keyword:

In [73]:
#if-else
r=10
area = 3.14*(r**2)


if area>500:
  print("This is a big circle")
elif area>100 and area<500:
  print("This is a medium circle")
else:
  print("This is a small circle")

This is a medium circle

Note especially the use of colons (:) and whitespace to denote separate blocks of code.

A block of code is a set of statements that should be treated as a unit. In C, for example, code blocks are denoted by curly braces:

```
// C code
int main()
{
int i=10;
if(i==10)
{
    print("i is 10");
}
  return 0;
}
```
In Python code blocks are denoted by Indentation
```
i = 10
if i == 10:
    print("i is 10")
```

### While Loop
A `while` loop repeatedly executes code while a condition remains True or until a condition is met.
* Use them when the number of iterations is unknown in advance

```
while condition:
    # Code to execute while the condition is True
```

In [79]:
#while loop:

i=100
sum=0
while i>0:
  sum=sum+i  #can be written as sum+=i as well
  i=i-1
print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  5050

In [81]:
#Using Break Statement
sum = 0
i=100
while True:
  if i<0:
    break

  sum+=i
  i-=1

print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  5050

### For Loop
A `for` loop iterates over a sequence (e.g., lists, strings, ranges) and executes a block of code for each element.
```
for item in sequence:
    # Code to execute for each item
```

In [82]:
#for loop:
sum=0
for i in range(100):
  sum+=i
print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  4950

Notice the simplicity of the `for` loop: we specify the variable we want to use, the sequence we want to loop over, and use the “`in`” operator to link them together in an intuitive and readable way. More precisely, the object to the right of the “`in`” can be any Python *iterator*.

We can loop over any list, no matter what type of object is stored in it

In [84]:
animals = ['cat', 'dog', 'monkey']
for i in range(len(animals)):
    print(animals[i])

cat
dog
monkey

In [83]:
animals = ['cat', 'dog', 'monkey']
for a in animals:
    print(a)

cat
dog
monkey

It is easy to iterate over keys in dictionaries

In [89]:
a=(1,"Rohan")
b,c=a
print(c)

Rohan

In [87]:
d={1:'New York',2:'Paris',3:'Dubai',4:'London'}
for i,city in d.items():
  print(d.get(i))
  # print(city)

New York
Paris
Dubai
London

#### Practice questions:
1. Display Fibonacci Series upto 10 terms
2. Display numbers at the odd indices of a list

In [18]:
#1

fibonacci = [0,1]
for _ in range(8):
    fibonacci.append(fibonacci[-1]+fibonacci[-2])
for num in fibonacci:
    print(num)

#2
print()
for num in fibonacci[::2]:
    print(num)

0
1
1
2
3
5
8
13
21
34

0
1
3
8
21

## Operations on Objects
Everything in python is an object. Strings are objects, lists are objects, dictionaries are objects, arrays are objects, etc.

And objects have functions. We use dot '.' to invoke functions. eg-

```
l = [1,23,5]
l.append(10)
print(l)
```

In this section we will go over some common functions that will prove to be very useful in your day to day tasks.

### Operations on Strings

In [93]:
a = "This is Data Science Bootcamp"
b = "Held in Spring'"+"2025"
print(a+" "+b)

This is Data Science Bootcamp Held in Spring'2025

In [94]:
s = "12345"
print(s[0])
print(s[1:3])
print(s[-3])

1
23
3

In [95]:
#Predict the output of this code block
s[1]='5'

TypeError: 'str' object does not support item assignment

In [97]:
list(s)

['1', '2', '3', '4', '5']

In [98]:
TestString = "I am part of the Data Science Bootcamp at NYU"
TestString.split(" ")

['I', 'am', 'part', 'of', 'the', 'Data', 'Science', 'Bootcamp', 'at', 'NYU']

In [101]:
l = TestString.split(" ")
" ".join(l)

'I am part of the Data Science Bootcamp at NYU'

In [102]:
s = "my name is rohan"
z = s.replace("rohan","raunak")
print(z)

my name is raunak

String objects have a bunch of useful methods; for example:*italicized text*

In [103]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another

Hello
HELLO
  hello
 hello
he(ell)(ell)o

### Operations on Lists

In [104]:
l =['apple','mango']
m = ['banana', 'orange']
lm = l+m
print(lm)
lm.append('kiwi')
print(lm)
print(lm[-2])

print("----------------")

print(lm[::-1]) # Reverse Indexing
lm.append(lm[:2])
print(lm)
print("----------------")
print("2D indexing")
print(lm[-1][1])

['apple', 'mango', 'banana', 'orange']
['apple', 'mango', 'banana', 'orange', 'kiwi']
orange
----------------
['kiwi', 'orange', 'banana', 'mango', 'apple']
['apple', 'mango', 'banana', 'orange', 'kiwi', ['apple', 'mango']]
----------------
2D indexing
mango

### Operations on Dictionaries

In [105]:
mydict = {"a":1, "b":2, "c":[3,4]}
print(mydict['a']) #accessing an element
print(len(mydict)) #number of keys in a dictionary
print(mydict.keys()) # accessing the keys of the dictionary
print(mydict.values()) #iterable over the values of the dictionary
print(mydict.items())  #iterable with (key,value) pairs

1
3
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, [3, 4]])
dict_items([('a', 1), ('b', 2), ('c', [3, 4])])

### Practice Question

In [2]:
string = """
I have provided this text to provide tips on creating interesting paragraphs.
First, start with a clear topic sentence that introduces the main idea.
Then, support the topic sentence with specific details, examples, and evidence.
Vary the sentence length and structure to keep the reader engaged.
Finally, end with a strong concluding sentence that summarizes the main points.
Remember, practice makes perfect!
"""
#Your task is to count the number of different words in this text

words = {}

for word in string:
    if not(word in words):
        words[word]=0
print(len(words))

34

## **Functions in Python**

Python functions are defined using the `def` keyword. The general syntax for defining a function is as follows -

```
def function_name([optional parameters]):
  """DocString"""
  <body>
  return <output>
```

In [107]:
# Function for testing if a number is even

def test_even_number(number):
  return number%2==0    # Returns true if the remainder is 0, else returns false

In [108]:
test_even_number(12)

True

In [109]:
def sign(x):
  '''Function that returns the sign of a number'''
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

## Scope of the variables
Specifies the region where we have access to the variable.
It's very important to understand the scope of variables. It can be -
1. Global scope - Variables defined outside and accessible within the functions("Visible everywhere")
2. Local scope - variable defined within the function and not accessible outside the function

In [116]:
def f(tooo):
  tooo=tooo**2
  print("Accessing y from within the function ",y)
  return tooo

y = 10
print(f(y))
print(y)
print(tooo)

Accessing y from within the function  10
100
10

NameError: name 'tooo' is not defined

## Take home exercises

1. Write a function  *count_vowels(word)* that takes a word as an argument and returns the number of vowels in the word
2. Iterate through the following list of animals and print each one in all caps.

  animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

3. Write a program that iterates from 1 to 20, printing each number and whether it's odd or even.
4. Write a function *sum_of_integers(a, b)* that takes two integers as input from the user and returns their sum.

In [17]:
#1
print("#1")
def count_vowels(word):
    vowels = 0
    for char in word:
        if char in "aeoui":
            vowels+=1
    return vowels

print(count_vowels("so very many vowels adieu"))        
print(count_vowels("nt mny vwls n ths wrd dang"))

#2
print("\n#2")
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for word in animals:
   print(word.upper())

#3
print("\n#3")
for num in range(1,21):
    print (f"{num}: {"odd" if num%2 else "even"}")

#4
print("\n#4")
def sum_of_integers(a,b):
    return a+b

print(sum_of_integers(2,3))
print(sum_of_integers(-30,75))

#1
9
1

#2
TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

#3
1: odd
2: even
3: odd
4: even
5: odd
6: even
7: odd
8: even
9: odd
10: even
11: odd
12: even
13: odd
14: even
15: odd
16: even
17: odd
18: even
19: odd
20: even

#4
5
45

## Additional Challenge - Books data challenge

In [25]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
     {
        "title": "Harry Potter and whatever the second one was",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.2
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

def check_rating(book):
    return "low" if book["rating"]<=4.0 else "medium" if book["rating"]<=4.5 else "high"

def average_rating_by_genre(books, genre):
    ratings_sum = 0
    ratings_num =0
    for book in books:
        if book["genre"] == genre:
            ratings_sum+=book["rating"]
            ratings_num+=1
    if not ratings_num:
        print("no books in the genre found")
        return -1
    return ratings_sum/ratings_num     

def books_by_author(books, author):
    by_author=[]
    for book in books:
        if book["author"] == author:
            by_author.append(book["title"])
    if not by_author:
        print("goofy error")
        return
    return by_author

for book in books:
    print(book["title"],check_rating(book))

print(average_rating_by_genre(books,"Fantasy"))

print(average_rating_by_genre(books,"Crime"))

print(books_by_author(books,"J.K. Rowling"))

print(books_by_author(books,"Ernest Hemingway"))

The Great Gatsby medium
To Kill a Mockingbird medium
1984 high
Pride and Prejudice high
Harry Potter and the Sorcerer's Stone high
Harry Potter and whatever the second one was medium
The Catcher in the Rye medium
4.550000000000001
no books in the genre found
-1
["Harry Potter and the Sorcerer's Stone", 'Harry Potter and whatever the second one was']
goofy error
None

1. Checking Book Ratings

    Write a function `check_rating(book)` that takes a book dictionary and returns True if the rating is greater than 4.5, and False otherwise. Additionally, modify the function to return 'low' if the rating is less than or equal to 4.0, 'medium' if it's greater than 4.0 but less than or equal to 4.5, and 'high' if it's greater than 4.5.

2. Average Rating by Genre

    Write a function `average_rating_by_genre(books, genre)` that accepts the list of books and a genre, and returns the average rating for that genre. If the genre does not exist in the list, return an appropriate message.

3. Books by Author

    Write a function `books_by_author(books, author)` that accepts the book list and an author's name, and returns a list of all the books written by that author. If the author does not exist, raise a custom error.